@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth bg-[#F7F8FC];
  }
}

@layer components {
  .bg-main {
    @apply bg-[#F7F8FC];
  }

  .bg-card {
    @apply bg-[#E9F1FB];
  }
}

.expends {
  animation: expending 1000ms cubic-bezier(0.1, 0.35, 0.37, 0.83);
}

@keyframes expending {
  from {
    height: 0;
  }
  to {
    height: full;
  }
}
